.header {
  &_data {
    grid-template-columns: 1fr 1fr;
    font-size: map-get($fonts, bigF);

    & .logo {
      @include flexPro;
      justify-content: flex-start;
      line-height: map-get($margins, line-height) - 1.5rem;

      a {
        color: map-get($main_color, sC);
        @include flexPro;
        justify-content: center;
        border: 3px solid map-get($main_color, sC);
        border-radius: 50%;
        font-size: map-get($fonts, normalF) + 0.5rem;
        padding: 0.5rem;
      }
    }

    & .menu-icon {
      @include flexPro;
      justify-content: flex-end;

      a {
        color: map-get($main_color, sC);
        @include flexPro;
        justify-content: center;
        border-radius: 5rem;
        padding: 0.8rem;
      }
    }
  }
}

.nav_bar {
  position: fixed;
  background: #eae4ff;
  right: 0%;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: map-get($z_index, tool_fixed) + 10;
  @include transitionPro;
}

.nav_bar .menu-icon {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 50%;
  @include flexPro;
  padding: 0.8rem;
  justify-content: center;
  margin: map-get($margins, mr_1) + 0.5rem;
  font-size: map-get($fonts, bigF);
}
.menu {
  min-height: 100vh;
  @include flexPro;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  li {
    margin-top: 4rem;
  }

  &_items {
    font-size: map-get($fonts, bigF);
    padding: 2rem 4rem;
    color: map-get($main_color, title);
    border-radius: 5rem;

    &:hover {
      color: map-get($main_color, pC);
    }
  }
}
// ========== COPYRIGHT ========
.copyright {
  position: absolute;
  left: -100px;
  font-size: map-get($fonts, smallerf) - 10px;
  top: 50%;
  font-family: map-get($fonts, bodyF);
  color: map-get($main_color, sC);
  font-weight: map-get($fonts, fontW_h);
  transform: translateY(-50%) rotate(90deg);
}
